body { 
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

/* //////////////////////////HEADER////////////////////////////// */

.header {
border-bottom: 1px solid #e7e9fc;
}

.header-narrow {
    display: flex;
    align-items: center;
    width: 1158px;
}

.header-navigation {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-white {
    color: #2e2f42;
}

.header-menu-list { 
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
    position: relative;
}

.header-menu-link.current::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}

.header-menu-link:hover  {
    color: #404bbf;
}

.header-contacts {
    margin-left: auto;

}

.header-contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover {
    color: #404bbf;
}

.header-contacts-link:focus, .header-menu-link.current {
    color: #404bbf;
}

/* //////////////////////////HERO////////////////////////////// */

.hero { 
    background-color: #2e2f42;
    padding: 188px 0px;
    background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/prie-hdr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    min-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 0.3s linear, color 0.3s linear;
}

.hero-button:hover {
    background-color: #404bbf;
}

.hero-button:focus {
    background-color: #404bbf;
}

.hero-button


/* //////////////////////////FEATURES////////////////////////////// */

.features {
padding-top: 120px;
padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.features-list { 
    display: flex; 
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-item li {
    width: calc((100% - 72px) / 4);
}

.features-icon-box {
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.features-icon {
    width: 64px;
    height: 64px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 120px;
}

/* //////////////////////////TEAM////////////////////////////// */

.team {
    background-color: #F4F4FD;
    padding: 120px 0px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    min-width: 162px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team-item li {
    width: calc((100% - 72px) / 4);
}

.team-social {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    text-decoration: none;
}

.team-social-link:hover {
    background-color: #31d0aa;
}

.team-social-icon  {
    fill: #FFFFFF;
    width: 16px;
    height: 16px;
    display: block;
}

.team-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-desc { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-item-text {
    padding: 32px 0px;
}

/* //////////////////////////PORTFOLIO////////////////////////////// */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    min-width: 218px;
    margin-bottom: 72px;

}

.portfolio-list { 
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item li {
    width: calc((100% - 48px) / 3);
    column-gap: 24px;
    position: relative;
}

.portfolio-item:hover .taste-iteam-text {
    transform: translateY(0);
}

.taste-iteam-cover {
    position: relative;
    overflow: hidden;
}

.taste-iteam-text {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: #4d5ae5;
    padding: 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-desc { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* //////////////////////////FOOTER////////////////////////////// */

.footer {
    background-color: #2e2f42;
    padding: 100px 0px;
}  

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-white {
    color: #f4f4fd;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    text-decoration: none;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px
}

.footer-box {
    display: flex;
    gap: 124px;
}

.footer-social-link:hover {
    background-color: #31d0aa;
}

.footer-social-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    margin-bottom: 32px;
    padding: 0;
    list-style: none;
}

.footer-social-icon {
    fill: #FFFFFF;
    width: 24px;
    height: 24px;
    display: block;
}